# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
build/
.npm

# Project Specific Data
data/raw/*
data/processed/*
data/models/*.pkl
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store
